{
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 13
  },
  "extends": ["airbnb-base", "plugin:prettier/recommended", "prettier"],
  "env": {
    "browser": true,
    "es2022": true,
    "node": true,
    "jest": true
  },
  "ignorePatterns": ["__tests__/"],
  "rules": {
    "no-throw-literal": "off",
    "no-shadow": "off",
    "import/prefer-default-export": "off",
    "import/extensions": ["off"],
    "max-depth": ["error", 2],
    "no-new": "off",
    "no-unused-vars": "off",
    "eol-last": ["error", "always"],
    "no-console": "off",
    "prefer-const": "off",
    "no-underscore-dangle": "off",
    "no-plusplus": "off",
    "vars-on-top": "off",
    "no-var": "off",
    "consistent-return": "off",
    "no-promise-executor-return": "off"
  }
}
